<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
	<parameter name="browser" value="chrome" />
	<listeners>
		<listener class-name="utilities.ExtentListener" />
	</listeners>
	<test name="sanity suite">
		<groups>
			<run>
				<include name="sanity suite" />
			</run>
		</groups>
		<classes>
			<class name="tests.MainRunner"></class>
		</classes>
	</test>

</suite> 
